xml/doc.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT company (employee+)>
<!ELEMENT employee (address, email, phone+)>
<!ELEMENT address (street, bulding, region, country, city, number)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT bulding (#PCDATA)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST employee name CDATA #REQUIRED>
<!ATTLIST phone type (home| work| mobile)  #REQUIRED>